@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #110f38;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Baby Gemoy font - if you have the font files, add them here */
@font-face {
  font-family: 'Baby Gemoy';
  src: url('/fonts/BabyGemoy-Regular.woff2') format('woff2'),
       url('/fonts/BabyGemoy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
